<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">News</a>
  </nav>

  <div class="row">

    <section class="col-10 mt-3">
      <br>
      <span>Filter by category : </span>
      <select class="custom-select" [(ngModel)]="category">
        <option value="general">General</option>
        <option value="business">Business</option>
        <option value="entertainment">Entertainment</option>
        <option value="health">Health</option>
        <option value="science">Science</option>
        <option value="sports">Sports</option>
        <option value="technology">Technology</option>
      </select>
      <a href="#" class="btn btn-primary" *ngIf="isSorted" (click)="sort()">Sorted</a>
      <a href="#" class="btn btn-primary" *ngIf="!isSorted" (click)="sort()">Sort</a>

      <div class="d-flex justify-content-between align-items-center pb-2">
        
        <div class="form-inline mt-2 mt-5 mb-4">
          <header>
            <span><strong>Searching by Title</strong></span>
          </header>
          <input class="form-control mr-2" style="width: 300px" placeholder="Search" type="text" [(ngModel)]="keyword">
          <button class="btn btn-outline-primary my-2" (click)="getNewsInformation()">Search</button>
          <button class="btn btn-outline-success my-2" (click)="reset()">Reset</button>
        </div>
      </div>

      <div class="row" *ngIf="news.length > 0">
        <div class="card col-4" style="width: 18rem; margin: 20px; padding: 5px" *ngFor="let item of news">
          <img class="card-img-top" *ngIf="item.image" src="{{item.image}}" alt="Card image cap">
          <img class="card-img-top" *ngIf="!item.image" src="assets/imagenotfound.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <br>
            <p class="card-text">{{shortenDesc(item.description)}}</p>
            <p class="card-text" style="font-size: 12px">{{item.sortDate}}</p>
            <p class="card-text" style="font-size: 12px">{{item.category}}</p>
            <a href="{{item.url}}" target="_blank">Go to news</a>
            <!--                  <a href="#" target="_blank" class="btn btn-primary">More</a>-->
          </div>
        </div>
      </div>
      <div *ngIf="news.length == 0">

        <h3>No news found on your filters ... </h3>


      </div>


    </section>
  </div>
</div>
